@page
@model HomeService.Areas.Admin.Pages.ServiceCategories.IndexModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["ServiceCategories"]
                        </h2>
                    </div>
                    <div class="card-body">
                        @(Html.DevExtreme().DataGrid<HomeService.Models.ServiceCategory>()
.DataSource(ds => ds.Mvc()
.Controller("ServiceCategories")
.LoadAction("Get")
.InsertAction("Post")
.UpdateAction("Put")
.DeleteAction("Delete")
.Key("ServiceCategoryId")


)
.RemoteOperations(true)
.Columns(columns => {
      columns.AddFor(m => m.pic)
            .Width(100)
            .AllowFiltering(false)
            .AllowSorting(false)
            .CellTemplate(@<text>
                <div>
                    <img width="50" height="50" src="/Images/ServiceCategory/<%- value %>" alt="image"/>
                </div>
            </text>).Caption(sharedResource["Picture"]);

    columns.AddFor(m => m.ServiceCategoryTlAr).Caption(sharedResource["TlAr"]);
    columns.AddFor(m => m.ServiceCategoryTlEn).Caption(sharedResource["TlEn"]);

     columns.Add().Caption(sharedResource["Actions"]).Width(200).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>

                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-sm"  href="/Admin/ServiceCategories/Details?id=<%- data.ServiceCategoryId %>"> <i class="fas fa-eye"></i> </a>
                                <a class="btn btn-success btn-sm"  href="/Admin/ServiceCategories/Edit?id=<%- data.ServiceCategoryId %>">  <i class="fas fa-edit"></i> </a>
                                <a class="btn btn-danger btn-sm" href="/Admin/ServiceCategories/Delete?id=<%- data.ServiceCategoryId %>">  <i class="fas fa-trash"></i> </a>
                            </div>
                            </text>).Width(400);
}

)

.Editing(e => e.Mode(GridEditMode.Popup)
.Texts(c => c
.CancelRowChanges(sharedResource["Cancel"])
.SaveRowChanges(sharedResource["Save"]).EditRow(sharedResource["Edit"])
.DeleteRow(sharedResource["Delete"])
.ConfirmDeleteMessage(sharedResource["ConfirmDeleteMessage"])
.AddRow(sharedResource["Add"]))


.AllowUpdating(false)
.AllowAdding(false)
.AllowDeleting(false)
.UseIcons(false)


.Popup(p => p
.Title(sharedResource["ServiceCategory"])
.ShowTitle(true)
.MaxWidth(750)
.RtlEnabled(bool.Parse(sharedResource["ArLang"]))


.Height(250)).Form(f => f.Items(items =>
{
    items.AddGroup()
    .ColCount(2)
    .ColSpan(2)
    .Items(groupItems =>
    {
        groupItems.AddSimple().DataField("ServiceCategoryTlAr").IsRequired(true);
        groupItems.AddSimple().DataField("ServiceCategoryTlEn").IsRequired(true);


    });



}))

)
    .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(false)
                            .ShowRowLines(true)
                            .RowAlternationEnabled(true)
                            .AllowColumnReordering(true)
                            .ShowRowLines(true)
                            .ShowColumnLines(true)
                            .ShowBorders(true)
                            .SearchPanel(searchPanel => searchPanel
                            .Visible(true)
                            .Width(240)
                            .Placeholder(sharedResource["SearchTxt"]))
                            .RemoteOperations(true)
                            .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>